@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    max-width: 100%;
}

body{
    width: 100%;
}

nav{
    background: rgb(117,48,227);
    background: linear-gradient(90deg, rgba(117,48,227,1) 55%, rgba(207,163,192,1) 100%);
    width: 100%;
}

nav img{
    max-width: 30px;
}

nav ul{
    text-align: center;
}

nav ul li{
    
    display: inline-block;
    padding: 20px 0px 20px 0px;
    vertical-align: middle;
    color: white;
    font-style: bold;
    font-size: 1.5em;
}

main{
    vertical-align: middle;
    text-align: center;
    width: 100%;
    margin-left: 0;
}

#basic-addon1{
    background: rgb(117,48,227);
}

.input-download{
    background: rgb(117,48,227);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 10px 15px;
    width: 100px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: white;
}

.card-purple{
    background-color: rgb(117,48,227);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    max-width: 80%;
}

.user-info {
    text-align: center;
    margin-bottom: 30px;
}

.user-info img {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.user-username {
    color: white;
    font-size: 14px;
    margin-bottom: 15px;
}

.card{
    border: none;
    max-width: 80%;
    background-color: rgb(117,48,227);
    margin: 20px;
}

.card-body{
    vertical-align: middle;
    text-align: center;
    color: white;
    background-color: rgb(60, 11, 138);
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
    padding: 10px 0px 0px 0px;
}

.card img{
    width: 100%;
    border-start-start-radius: 10px;
    border-start-end-radius: 10px;
}

.downloadAll {
    background-color: rgb(60, 11, 138);
    padding: 20px 0px 0px 0px;
    color: white;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}